/* Estilos generales */
/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* Animación de desplazamiento lateral para el cuerpo */
body {
    animation: backgroundAnimation 10s infinite alternate;
}

@keyframes backgroundAnimation {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

/* Animación de promociones */
.imagen img {
    transform: scale(1);
    transition: transform 0.3s;
}

.imagen:hover img {
    transform: scale(1.1);
}

/* Animación de redes sociales */
.social-icons a:hover img {
    animation: bounce 0.1s ease-in-out;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateX(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}


/* Resto de tu CSS actual... */

 /* Estilo para la sección de horarios y precios */
 /* Estilo para las secciones de horarios y promociones */
   

body {
    font-family: Arial, sans-serif;
    position: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("fondocosmic.png")no-repeat center center fixed ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("fondocosmic.png");
    background-size: 103%;
    z-index: -1;
    overflow-x: hidden;
    width: 100%;
    height: 60%;
}
/* Estilos para el menú */

/* Estilos para el menú */
nav {
    padding: 9px 0 5px 17px; /* Ajusta el padding en vertical y horizontal */
    width: 100%;
    font-size: 18px;
    height: 60px;
    position: fixed;
    background: rgb(0, 0, 0, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1002;
}


.logo {
    max-width: 120px; /* Ajusta el tamaño máximo del logo */
    transition: max-width 0.3s;
    display: flex;
    align-items: center;
    margin-left: 30px; /* Mueve el logo hacia la derecha <<<(centro) */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuye las opciones de menú */
    flex-grow: 1; /* Permite que las opciones de menú ocupen todo el espacio restante */
}

li {
   
    margin-right: 45px;
    transition: margin-top 0.3s;
}

li:hover {
    margin-top: 5px; /* Ajusta la cantidad que deseas que bajen los elementos al pasar el mouse */
}

a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: yellow;
   
}
.logo-item {
    display: flex;
    align-items: center;
    margin: 0;
}
/*Estilos de contacto redes sociales*/
.social-contact {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    
    background-color:/* #3f2817*/ #212529;
    padding: 5px 10px;
    width: 100%;
    height: 147px;
    
}

/* Estilos para la sección de contactos */
/* Estilos para la sección de mensajes en columna */


.left-message {
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
margin-bottom: 2px;
  margin-left: 80px;
 
 }
  /* Nueva regla para ajustar el margen inferior de los párrafos */
  .left-message p {
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left: -16px;

}

.social-icons a {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: trasform 0.3s;
    margin-right: 110px;
    margin-left: -1px;/*para ajustar la ditancia entre icono*/
    margin-top: 10px;/*para el margen derecho del conjunto de los idolos */

   
 }
.social-icons img {
    max-width: 40px;
}

.social-icons a:hover img {
    transform: translateY(4px);
}


/* Estilos para el encabezado */
header {
    position: relative;
    overflow: hidden;
    height: 120vh;
    width: 100%;
    left: 1px;
    
}

.imagen-header {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: -1;
}

.overlay {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}





/*Seccion de informacion de cumpleaños*/
article {
    margin-top: 80px;
    max-width: 990px;
    width: 100%;
    font-family: Raleway-Medium;
    font-size: 17px;
    line-height: 20px;
    color: lightseagreen;
    padding: 2px;
    overflow: hidden;
    margin-left: 190px;
    
    
}
/* Estilos para la clase .hensa */
.hensa {
    position: relative;
    margin-left: 10px;
    padding: 23px;
    text-align: center;
 
}

.hensa::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.7;
    z-index: -1;
    border: 4px solid #07158d;
    border-radius: 15px;
}

 h1 {
    font-family: Hensa;
    color: yellow;
    font-size: 36px;
    line-height: 40px;
    z-index: 1; /* Asegura que el texto esté encima del fondo con opacidad */
}


/**/


article .gris {
    font-family: Raleway-Medium;
    color: #fff;
    font-size: 24px;
}


article p {
    width: 100%;
    float: none;
}





/*Estilos para lista de lo que se ofrece*/

/* Estilos para lista de lo que se ofrece */

#mitad {

    position: relative;
    padding: 20px;
    border-radius: 10px; /* Opcional: agrega bordes redondeados */
    margin-top: 20px; /* Espaciado superior */
    margin-bottom: 20px; /* Espaciado inferior */
    border: 4px solid #eb683d;
    margin-left: 0px;
    overflow: hidden; /* Para que los bordes redondeados se apliquen correctamente */
}

#mitad::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(1, 17, 34, 0.8); /* Fondo negro con opacidad */
    border-radius: 10px;
    z-index: -1;
}

#mitad h1,
#mitad h2,
#mitad h3,
#mitad p,
#mitad ul,
#mitad li {
    color: #fff; /* Color de texto */
}

#mitad h2.gris {
    color: #fff; /* Color gris para la clase "gris" */
}

.vertical-list {
    display: block; /* Cambiado a bloque para mostrar elementos verticalmente */
    margin-bottom: 10px; /* Agregado para separar verticalmente los elementos de la lista */
}

#mitad .vertical-list li {
    margin-bottom: 5px; /* Espaciado entre elementos de la lista */
}

/* Estilos de eventos */

/*Estilos de eventos*/

#eventos {
    margin-left: 210px;
    width: 70%;
   
    padding: 0;
    margin-bottom: 40px;
}


#eventos ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around; /* Distribuir elementos equitativamente */
}


#eventos li {
    margin: 0;
    padding: 0;
    width: 40%;
    color: white;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #666666; /* Cambié la opacidad aquí */
    opacity: 0.8;
    border: 4px solid #f35208;
    height: 310px;
    transition: border-color 0.3s ease, background-color 0.3s ease; /* Transición de color */
    cursor: pointer; /* Establecer el cursor como puntero */
}


#eventos li:hover {
    background-color: #1186d4; 
    opacity: 1;
}

#eventos a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; /* Quitar subrayado de los enlaces */
    color: inherit; /* Heredar color del texto */
    width: 100%;
    height: 100%;
}

#eventos h3 {
    font-size: 20px;
    margin-right: 10px;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 15px;
}

#eventos h4 {
    margin-right: 6px;
    margin-left: 20px;
    line-height: 30px;
    font-size: 20px;
}
.gris{
   width: 104%;
   margin-left: -20px;
   padding: 25px;
   margin-top: 20px;
   background-color: rgba(179, 8, 142, 0.7); 

}
.opciones{
    text-align: center;
    padding: 20px;
    background-color: #000;
    opacity: 0.7;
    z-index: -1;
    border: 4px solid #0c08e4;
    border-radius: 15px;
}
.otrasfiestas {
    margin-left: 183px;
    padding: 10px;
    width: 74%;
    font-family: Hensa;
    color: #dbf10e;
    background-color: rgba(17, 17, 17, 0.7); /* Fondo con opacidad */
    font-size: 36px;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 50px;
   /*border: 4px solid #1825e6;*/ 
    border-radius: 15px;
    border: 4px solid #08e613;
}



/* Estilos para el footer */

.footer {
    background-color: #212529;
    height: 130px;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-contact-foother {
    display: flex;
    align-items: center;
}

.left-message-foother {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 400px;
}

.left-message-foother p {
    margin: 5px 0;
}

.social-icons-foother {
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.left-message-foother p{
    margin-left:10px; /* Ajusta el margen izquierdo de los párrafos */
margin-right: 10px;
}
.social-icons-foother a {
    display: inline-flex;
    align-items: center;
    position: relative;
    transition: transform 0.3s;
    margin-right: 90px;
}

.social-icons-foother img {
    max-width: 30px;
}

.social-icons-foother a:hover img {
    transform: translateY(4px);
}

.logo1{
    display: none;
}
@media screen and (max-width: 800px) {

    body {
        font-family: Arial, sans-serif;
        position: cover;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: url("fondocosmic.png")no-repeat center center fixed ;
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("fondocosmic.png");
     
        z-index: -1;
        overflow-x: hidden;
        width: 100%;
        height: 60%;
     }


   
    nav {
      
    
        background: rgb(0, 0, 0, 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1002;
    }
    .imagen-header {
        width: 100%;
        height: 70%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0px;
        z-index: -3;
        margin-bottom: 0px;
    
       
    }
    
  
    
    
   




    /* Estilos para el menú responsive (menú de hamburguesa) */
    #menu-responsive {
        display: block; /* Mostrar el menú responsive solo en tabletas */
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1006;
        -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    }

    

    #menu-responsive ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #menu-responsive li {
        text-align: center;
        padding: 10px 0;
    }
    #menu-icon {
        display: block; /* Mostrar el icono del menú solo en tabletas */
        font-size: 44px;
        color: #fff;
        cursor: pointer;
    }

   

    /* Estilos para ocultar el logo original */
    .logo {
        display: none;
    }
    
    /* Estilos para el logo en tabletas */
    .logo-item {
        position: relative; /* Cambia la posición a relativa para alinear el logo */
    }

    /* Estilos para el logo1 en tabletas */
    .logo1 {
        max-width: 80px; /* Ajusta el tamaño máximo del logo */
        transition: max-width 0.3s, opacity 0.3s; /* Agrega transición de opacidad */
        display: block; /* Muestra el logo por defecto */
        margin: 0 auto; /* Centra horizontalmente */
        text-align: center; /* Centra el contenido horizontalmente */
        opacity: 1; /* Opacidad inicial */
        z-index: 19; /* Asegura que el logo esté encima */
        position: absolute; /* Cambia la posición a absoluta */
        top: 50%; /* Coloca el logo en la mitad de la pantalla verticalmente */
        left: 50%; /* Coloca el logo en la mitad de la pantalla horizontalmente */
        transform: translate(-50%, -50%); /* Alinea vertical y horizontalmente el logo */
    }

    
    /* Estilos para mostrar el menú en pantallas pequeñas */
    #menu-list {
        display: none; /* Oculta el menú por defecto */
        flex-direction: column;
        position: absolute; /* Cambia la posición a absoluta */
        top: 60px;
        right: 0;
        background-color: #212529;
        width: 300px;
        padding: 10px;
        transition: right 0.3s;
        z-index: 999; /* Asegura que el menú esté encima de otros elementos */
    }

    /* Estilos para el ícono del menú de hamburguesas */
    .hamburger-icon {
        font-size: 54px;
        cursor: pointer;
        margin-right: 20px;
        margin-left: auto;
        z-index: 1009; /* Asegura que el ícono esté encima del menú */
        color: white; /* Cambia el color del ícono a blanco */
    }

    /* Estilos para mostrar el menú al hacer clic en el ícono */
    #menu-icon.clicked + #menu-list {
        display: flex; /* Muestra el menú cuando se hace clic */
        flex-direction: column;
        align-items: flex-start; /* Muestra las opciones debajo del ícono */
    }

    #menu-list li {
        margin: 10px 0; /* Espaciado entre las opciones */
    }
    
    /* Estilos para hacer que las opciones sean rectangulares */
    #menu-list a {
        display: block;
        padding: 10px; /* Espaciado dentro del rectángulo */
        border: 1px solid white; /* Borde blanco */
        border-radius: 5px; /* Bordes redondeados */
        transition: background-color 0.3s, border-color 0.3s;
    }

    /* Cambiar el color de fondo y el color del texto al pasar el mouse */
    #menu-list a:hover {
        background-color: white; /* Fondo blanco al pasar el mouse */
        color: #212529; /* Texto oscuro al pasar el mouse */

      }    
.social-contact {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color:/* #3f2817*/ #212529;
    padding: 5px 10px;
    width: 100%;
    height: 135px;
    
}

/* Estilos para la sección de contactos */
/* Estilos para la sección de mensajes en columna */


.left-message {
    font-size: 15px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
margin-bottom: 10px;
  margin-left: 50px;
 
 }
  /* Nueva regla para ajustar el margen inferior de los párrafos */
  .left-message p {
    margin-bottom: 0px;
    margin-right: 100px;
    margin-left: -16px;

}

.social-icons a {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: transform 0.3s;
    margin-right: 120px;
    margin-left: -40px;/*para ajustar la ditancia entre icono*/
    margin-top: 10px;/*para el margen derecho del conjunto de los idolos */

   
 }
.social-icons img {
    max-width: 30px;
}

.social-icons a:hover img {
    transform: translateY(4px);


}


/*Estilos de lo que ofrece en eventos*/
/* Seccion de informacion de cumpleaños */
.hensa{
margin-left: -1px;
}

.gris{
    margin-left: -14px;
    width: 104%;
}
.vertical-list {
    display: block; /* Cambiado a bloque para mostrar elementos verticalmente */
    margin-bottom: 10px; /* Agregado para separar verticalmente los elementos de la lista */

}
.contenedor_ofrecen{
    margin-left: -0px;
    margin-top: -15px;
}
 .otrasfiestas{
    margin-left: 90px;
 }
.opciones{
    text-align: center;
}



/* Estilos de eventos */

/* Estilos de eventos */
.otrasfiestas {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 105px;
}

#eventos {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    font-size: 20px;
}



#eventos h3 {
    background-color: #1fc708; /* Color de fondo del título h3 */
    color: #fff; /* Color del texto del título h3 */
    padding: 10px;
    margin: 0;
    margin-top: 0px;
    
    width: 100%;
}

.evento h4 {
    padding: 10px;
    margin: 0;
}

.celeste {
    background-color: #3498db; /* Color de fondo del li con clase celeste */
    color: #fff; /* Color del texto del li con clase celeste */
    cursor: pointer;
}

.rojo {
    background-color: #e74c3c; /* Color de fondo del li con clase rojo */
    color: #fff; /* Color del texto del li con clase rojo */
    cursor: pointer;
 }
.celeste:hover, .rojo:hover {
    background-color: #1186d4;
    opacity: 1;
}



/* Ajusta los elementos del footer y contacto para dispositivos móviles */
.left-message-foother {
    height: auto;
    margin-left: 5px;
    margin-right: 60px;
    align-items: center;
    margin-top: 18px;
  }

  .social-icons-foother {
    margin-left: 5px;
  }
  .social-icons-foother a {
    display: inline-flex;
    align-items: center;
    position: relative;
    transition: transform 0.3s;
    margin-right: 50px;
}
    /* Estilos para dispositivos móviles (ancho de pantalla igual o inferior a 478px) */
 }



/* Estilos para el menú en tamaños de pantalla más grandes (ancho mínimo de 769px) */
@media screen and (min-width: 801px) {
    #menu-list {
        display: flex !important; /* Asegura que el menú esté visible */
        flex-direction: row; /* Ajusta la dirección del menú a horizontal */
        background-color: transparent; /* Opcional: Puedes cambiar el fondo si es necesario */
        position: relative; /* Cambia la posición de vuelta a relativa */
        top: auto; /* Restaura la posición vertical */
   }

    .hamburger-icon {
        display: none; /* Oculta el ícono de hamburguesa en tamaños grandes */
        right: auto; /* Restaura la posición horizontal */
        width: auto; /* Restaura el ancho */
   
    } 


}

@media screen and (max-width: 480px) {
    body {
        font-family: Arial, sans-serif;

        margin: 0;
        padding: 0;
        box-sizing: border-box;
       
        
        background-size: cover;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
    z-index: -1;
    }
   
   
     /* Ajusta el tamaño de los elementos .column para que ocupen todo el ancho */
    
     /* Estilos para el menú responsive (menú de hamburguesa) */
     #menu-responsive {
        display: block; /* Mostrar el menú responsive solo en tabletas */
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1001;
    }

    #menu-responsive ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #menu-responsive li {
        text-align: center;
        padding: 10px 0;
    }

    #menu-icon {
        display: block; /* Mostrar el icono del menú solo en tabletas */
        font-size: 44px;
        color: #fff;
        cursor: pointer;
    }


    /* Estilos para ocultar el logo original */
    .logo {
        display: none;
    }
    
    /* Estilos para el logo en tabletas */
    .logo-item {
        position: relative; /* Cambia la posición a relativa para alinear el logo */
    }

    /* Estilos para el logo1 en tabletas */
    .logo1 {
        max-width: 80px; /* Ajusta el tamaño máximo del logo */
        transition: max-width 0.3s, opacity 0.3s; /* Agrega transición de opacidad */
        display: block; /* Muestra el logo por defecto */
        margin: 0 auto; /* Centra horizontalmente */
        text-align: center; /* Centra el contenido horizontalmente */
        opacity: 1; /* Opacidad inicial */
        z-index: 19; /* Asegura que el logo esté encima */
        position: absolute; /* Cambia la posición a absoluta */
        top: 50%; /* Coloca el logo en la mitad de la pantalla verticalmente */
        left: 50%; /* Coloca el logo en la mitad de la pantalla horizontalmente */
        transform: translate(-50%, -50%); /* Alinea vertical y horizontalmente el logo */
    }

    
    /* Estilos para mostrar el menú en pantallas pequeñas */
    #menu-list {
        display: none; /* Oculta el menú por defecto */
        flex-direction: column;
        position: absolute; /* Cambia la posición a absoluta */
        top: 60px;
        right: 0;
        background-color: #212529;
        width: 200px;
        padding: 10px;
        transition: right 0.3s;
        z-index: 1000; /* Asegura que el menú esté encima de otros elementos */
    }

    /* Estilos para el ícono del menú de hamburguesas */
    .hamburger-icon {
        font-size: 54px;
        cursor: pointer;
        margin-right: 20px;
        margin-left: auto;
        z-index: 1005; /* Asegura que el ícono esté encima del menú */
        color: white; /* Cambia el color del ícono a blanco */
    }

    /* Estilos para mostrar el menú al hacer clic en el ícono */
    #menu-icon.clicked + #menu-list {
        display: flex; /* Muestra el menú cuando se hace clic */
        flex-direction: column;
        align-items: flex-start; /* Muestra las opciones debajo del ícono */
    }

    #menu-list li {
        margin: 10px 0; /* Espaciado entre las opciones */
    }
    
    /* Estilos para hacer que las opciones sean rectangulares */
    #menu-list a {
        display: block;
        padding: 10px; /* Espaciado dentro del rectángulo */
        border: 1px solid white; /* Borde blanco */
        border-radius: 5px; /* Bordes redondeados */
        transition: background-color 0.3s, border-color 0.3s;
    }

    /* Cambiar el color de fondo y el color del texto al pasar el mouse */
    #menu-list a:hover {
        background-color: white; /* Fondo blanco al pasar el mouse */
        color: #212529; /* Texto oscuro al pasar el mouse */

      }   
    
    /* Estilos para la sección de contactos y redes sociales */
    .social-contact {
        position: static;
        font-size: 11px;
        height: 100px;
        width: 100%; /* Ancho completo en tabletas */
        display: flex;
        justify-content: space-between; /* Centra horizontalmente los elementos */
        align-items: center; /* Centra verticalmente los elementos */
        padding: 4px; /* Ajusta el espaciado interno */
    }

    .left-message {
        font-size: 11px; /* Ajuste de tamaño de fuente en tabletas */
        margin: 0; /* Elimina los márgenes para que se ajuste al ancho completo */
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        margin-left: 29px;
        margin-bottom: 4px;
    }

    .social-icons {
        display: inline-flex;
        align-items: center;
        margin-top: 4px; /* Ajuste el margen superior */
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-right: 20px;
    }

    .social-icons a {
        display: inline-flex;
        align-items: center;
        position: relative;
        transition: transform 0.3s;
        margin-right: 9px;
        margin-left: 0;
        margin-bottom: 8px;
        /* Ajuste el margen derecho entre los íconos */
    }

    .social-icons img {
        max-width: 20px; /* Ajuste el tamaño máximo de los íconos */
    
    }
 
    nav {
        padding: 2px 0px;
     justify-content: center;
     align-items: center;
font-size: 11px;
position: fixed;
width: 100%;
margin-right: 6px;
    
    }

    .logo {
        max-width: 45px; /* Ajuste de tamaño de logo en tabletas */
        margin-left: 17px;
        margin-right: 4px;
    }

    ul {
        
        display: flex; /* Muestra el menú en tabletas */
        align-items: center; /* Centra verticalmente las opciones del menú */
       /* justify-content: center; /* Centra horizontalmente las opciones del menú */
        display: inline-flex;
    align-items: center;
    gap: 12px;
}

    
    li{
        margin: 0 2px;
 }


  a{
    font-size: 10px;

  }

 nav a {
     /* Ajuste de margen izquierdo en tabletas */
    margin-left: 7px;
 }

 /*header*/
 header {
    position: relative;
    overflow: hidden;
    height: 120vh;
    width: 100%;
    left: 1px;
    z-index: 4;
}

.imagen-header {
    width: 100%;
    height: 65%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: -2;
}
.overlay{
    height: 50%;

    /*Estilos horarios y precios celular*/
}


article {
    margin-top: -70px;
     }

     .hensa::before{
        margin-left: 1px;
        border: 4px solid #08bdeb;
        border-radius: 10px; /* Opcional: agrega bordes redondeados */
       
     }
     .gris{
        width: 106.5%;
        border-radius: 14px;
        text-align: center;
     }
     h1{
        margin-right: 30px;
        text-align: center;
    
     }
/*Otras fietas*/
.otrasfiestas{
    text-align: center;
   margin-left: 25px;
   width: 90%;
}



#eventos li {
margin-left: 36px;

    width: 80%;
   
}
#eventos h4{
margin-top: 20px;
}

/* Ajusta los elementos del footer y contacto para dispositivos móviles */
.left-message-foother {
    font-size: 11px; /* Ajuste de tamaño de fuente en tabletas */
    margin: 0; /* Elimina los márgenes para que se ajuste al ancho completo */
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    margin-left: 9px;
    margin-bottom: 4px;
 }
  .social-icons-foother {
    margin-left: 1px;
  }

  .social-icons-foother a {

display: inline-flex;
align-items: center;
margin-top: 4px; /* Ajuste el margen superior */
margin-left: 10px; /* Elimina el margen izquierdo */
margin-right: 10px;
  }
}






@media screen and (max-width: 375px){
    .otrasfiestas{
        width: 100%;
        margin-left: 0px;
        font-size: 29px;
        margin-top: 100px;
    }

    #eventos li{
        width: 100%;
        margin-left: 25px;
        
            width: 80%;
           
        }
}